<!-- <div class="container-fluid d-flex justify-content-between"> -->
<div class="container-fluid row">
  <section class="col-2 text-light">
    Block Processing
    <!-- <mat-tab-group>
      <mat-tab label="Block Processing">  </mat-tab>
    </mat-tab-group> -->
  </section>
  <section class="col-10 text-end">
    <button
      class="btn"
      matTooltip="search button"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="article button"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>article</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="assigment button"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>assignment_ind</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="find in page"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>find_in_page</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="folder"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>folder</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="some button"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>portrait</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="some button"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="some button"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>portrait</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="some button"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>alarm_add</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="some button"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>portrait</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="some button"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>arrow_right_alt</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="some button"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>code</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="some button"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>dashboard</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="some button"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>event</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="some button"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>find_in_page</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="some button"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>get_app</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="some button"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>history</mat-icon>
    </button>
    <button
      class="btn"
      matTooltip="some button"
      (click)="openSnackBar('you clicked this button')"
      [disabled]="false"
      *ngIf="true"
    >
      <mat-icon>label</mat-icon>
    </button>
  </section>
</div>
<app-blockprocessform></app-blockprocessform>
